
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>RentType List</title>
</head>
<body>

<div th:replace="layout :: title"> </div>
<div th:replace="layout :: columnLeft"> </div>


<div class="column middle">

    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/createRentType" style="color: black">Create new RentType</a>
    <a href="/deleteAllRentTypes" style="float: right"
       onclick="return confirm('Are you sure you want to delete all rentTypes?')">Delete all rentTypes</a>
    <h1>RentTypes</h1>
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>
    <center>
        <table border="1">
            <tr>
                <th>Name</th>
                <td>Price:</td>
                <th colspan="2">Action</th>
            </tr>

            <th:block th:each="rentType : ${rentTypes}">
                <tr>
                    <td th:text="${rentType.name}"></td>
                    <td th:text="${rentType.price}"></td>
                    <td><a th:href="@{/editRentType/__${rentType.id}__ }" style="color: black">Edit</a></td>
                    <td><a th:href="@{/deleteRentType/__${rentType.id}__ }" style="color: black">Delete</a></td>
                </tr>
            </th:block>
        </table>
    </center>
</div>
<div th:replace="layout :: columnRight"> </div>

</body>
</html>
