<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Accompany</title>
</head>
<body>



<div >
    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/accompanys" style="color: black">List Accompany</a>
    <h1>Edit Accompany </h1>
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>

    <form th:action="@{/editAccompany}" method="post" th:object="${accompany}">
            <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{cost}"></td>
            </tr>
            <tr>
                <td colspan="2" th:if="${#fields.hasErrors('price')}" style="color: red" th:errors="*{cost}">Price Error</td>
            </tr>
            <tr>
                <td>Currency:</td>
                <td><input type="text" th:field="*{numbers_of_service}"></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td><input type="text" th:field="*{status}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Edit Accompany"></td>
            </tr>
        </table>
    </form>

</div>



</body>
</html>