
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accompany List</title>
</head>
<body>




<div>

    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/createAccompany" style="color: black">Create new Accompany</a>
    <a href="/deleteAllAccompanys" style="float: right"
       onclick="return confirm('Are you sure you want to delete all accompanys?')">Delete all accompanys</a>
    <h1>Accompanys</h1>
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>
    <center>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Status</th>
                <th colspan="2">Action</th>
            </tr>

            <th:block th:each="accompany : ${accompanys}">
                <tr>
                    <td th:text="${accompany.name}"></td>
                    <td th:text="${accompany.cost}"></td>
                    <td th:text="${accompany.status}"></td>
                    <td><a th:href="@{/editAccompany/__${accompany.id}__ }" style="color: black">Edit</a></td>
                    <td><a th:href="@{/deleteAccompany/__${accompany.id}__ }" style="color: black">Delete</a></td>
                </tr>
            </th:block>
        </table>
    </center>

</div>
</body>
</html>
