<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Degree List</title>
</head>

<body >



<div>

    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/degrees" style="color: black">List Degree</a>
    <h1>Edit Degree</h1>


    <form th:action="@{/editDegree}" th:object="${degree}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <!--    <input th:type="hidden" name="id" th:field="*{image_id}">-->
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Edit Degree"></td>
            </tr>
        </table>
    </form>
</div>



</body>
</html>