<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create ServiceType</title>
</head>
<body>
<div th:replace="layout :: title"> </div>
<div th:replace="layout :: columnLeft"> </div>


<div class="column middle">
    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/serviceTypes" style="color: black">List ServiceType</a>
    <h1>Create ServiceType </h1>


    <form th:action="@{createServiceType}" method="post" th:object="${serviceType}">
        <!--    <input type="hidden" th:field="*{id}">-->
        <table>

            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Create ServiceType"></td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="layout :: columnRight"> </div>


</body>
</html>