<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Edit ServiceType </title>
</head >

<body >
<div th:replace="layout :: title"> </div>
<div th:replace="layout :: columnLeft"> </div>


<div class="column middle">

    <a href="/menu" style="color: black">Back to Menu</a>
    <a href="/serviceTypes" style="color: black">List ServiceType</a>
    <h1>Edit ServiceType</h1>
    <th:block th:if="${message}">
        <p style="color: red" th:text="${message}"></p>
    </th:block>


    <form th:action="@{/editServiceType}" th:object="${serviceType}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <!--    <input th:type="hidden" name="id" th:field="*{image_id}">-->
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Edit ServiceType"></td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="layout :: columnRight"> </div>


</body>
</html>